<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        Filter by :
      </div>
      <div  class="col-md-4">
        <label>
          <input type="text" [(ngModel)]="listFilter"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by : {{listFilter}}</h4>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table" *ngIf="_products && _products.length">
      <thead>
      <tr >
        <th>
          <button class="btn btn-primary" (click)="toggleImg()">
            {{showImg ? 'Hide' : 'Show' }} image
          </button>
        </th>
        <th>
          Product
        </th>
        <th>
          Code
        </th>
        <th>
          Available
        </th>
        <th>
          Price
        </th>
        <th>
          5 Star Rating
        </th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>
            <img *ngIf="showImg" [src]="product.imageUrl" [title]="product.productName | uppercase" [style.width.px]="imgWidth" [style.margin.px]="imgMargin">
          </td>
          <td>
            <a [routerLink]="['/products',product.productId]">
              {{product.productName}}
            </a>
          </td>
          <td>
            {{product.productCode | lowercase | StringReplace:'-':""}}
          </td>
          <td>
            {{product.releaseDate}}
          </td>
          <td>
            {{product.price | currency:'USD':'symbol':'1.2-2'}}
          </td>
          <td>
            <pm-star-component [rating]="product.starRating" (notify)="onNotify($event)"></pm-star-component>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>



